body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, rgb(231,222,222) 0%, rgba(224,237,239,0.9) 86%) ;
}
.nav-button{
  width: 100%;
  background: linear-gradient(90deg, rgba(24,100,96,1) 0%, rgba(8,58,62,1) 80%);
  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 4px 0px 8px black;
   
}
.nav-word {
    list-style-type: none;
    display: inline-block;
    padding: 24px 32px;
    
}
li a[href=""] {
    text-decoration: none;
    color: white;
    font-size: 14px;
    position: relative;
    left: 630px;
}
li a[href=""]:hover {
    color: rgb(63,186,144);

}
.logo {
    position: fixed;
    left: 30px;
    top: -175px;
}
/*.president {
    position: ;
    top: 90px;
    left: 30px;
}*/
.president {
    padding: 95px 0px 0px 25px;
}
#white-bg {
    position: absolute;
    left: 0px;
    top: 757.5px;
    right: 0px;
    width: 100%;
    height: 180px;
    background-color: white;
}
.PM {
    font-family: Arial;
    margin: -585px 0px 0px 525px;
    color: rgb(43,41,41);
    font-size: 57px;
    line-height: 0.9em;  
    
}
.piaic {
    font-size: 31px;
    font-weight: lighter;
    letter-spacing: 0.01em;  
}
.mission {
    color: rgb(61,60,60);
    margin: 50px 0px 0px 525px;
    font-size: 14.4px;
    line-height: 1.5em;
}
.apply {
    margin: 110px 0px 0px 915px;
    padding: 13px 44px;
    color: white;
    border: none;
    border-radius: 5px;
    background: linear-gradient(117deg, rgba(57,184,161,1) 0%, rgba(79,214,143,1) 82%);
    text-transform: uppercase; 
}
.line {
    font-size: 50px;
    margin: -55px 25px 0px 1080px;
   color: rgb(27,42,86);
}
@font-face {
    src: url(bench-grinder-titling/bench\ grinder\ titling.ttf);
    font-family: "bench grinder titling";
}
.ninety {
    font-size: 35px;
    font-family: "bench grinder titling"; 
    font-weight: 600;
    text-align: justify;
    color: rgb(33,37,41);
    margin: ;
}
.application {
     font-size: 10px;
 }
 .app {
   margin: -37px 0px 0px 1125px;
   line-height: 0.9em;

 }
 .ac {
    font-size: 32px;
    font-weight: bold;
    color: rgb(102,102,102);
    margin: 70px 0px 0px 31%;
    letter-spacing: 15px;
}
/*.box1 {
    position: absolute;
    left: 33px;
    top: 685px;
    background-color: white;
    padding: 60px 65px ;
    box-shadow: 3px 2px 3px #bbb4b4;
    border-top: 41px solid rgb(25,42,86);
    border-radius: 8px;
    color: rgb(25,42,86);
    font-weight: bold;
    font-size: 17px;
}
.box1:hover {
    background-color:  rgba(25,42,86,0.6);
    border-top: 41px solid rgba(25,42,86,0.6)
    border: none;
}*/

.box1 {
    position: relative;
    left: 20px;
    top: 5px;
    margin-right: 27px;
    height: 140px;
    width: 299px;
    border-top: 41px solid rgb(25,42,86);
    background-color: white;
    box-shadow: 1px 2px 6px rgba(92, 88, 88, 0.3);
    border-radius: 6px;
}
.box1:hover{
    background-color:  rgba(25,42,86,1);
    position: relative;
    top: -36px;
    border: none;
    height: 181px;
    font-size: 0;
    box-shadow: none;
}
.ai {
    position: relative;
    left: 23%;
    top: 41%;
    padding: auto;
    color: rgb(25,42,86);
    font-weight: bold;
    font-size: 16px;
}
.box2 {
    position: relative;
    left: 20px;
    top: 5px;
    margin-right: 27px;
    height: 140px;
    width: 299px;
    border-top: 41px solid rgb(226,73,106);
    background-color: white;
    box-shadow: 1px 2px 6px rgba(92, 88, 88, 0.3);
    border-radius: 6px;
    font-size: 16px;

}
.box2:hover{
    background-color:  rgba(226,73,106, 1);
    position: relative;
    top: -36px;
    border: none;
    height: 181px;
    box-shadow: none;
    font-size: 5px;
    color: black;
}
.cnc {
    position: relative;
    left: 12.3%;
    top: 41%;
    padding: auto;
    color: rgb(226,73,106);
    font-weight: bold;
    font-size: 16px;
}

.box3 {
    position: relative;
    left: 20px;
    top: 5px;
    margin-right: 27px;
    height: 140px;
    width: 299px;
    border-top: 41px solid rgb(251,196,60);
    background-color: white;
    box-shadow: 1px 2px 6px rgba(92, 88, 88, 0.3);
    border-radius: 6px;
}
.box3:hover {
    background-color: rgb(251,196,60);
    position: relative;
    top: -36px;
    border: none;
    height: 181px;
    font-size: 0;
    box-shadow: none;
}
.bc {
    position: relative;
    left: 36%;
    top: 41%;
    padding: auto;
    color: rgb(251,196,60);
    font-weight: bold;
    font-size: 16px;
}
.box4 {
    position: relative;
    left: 20px;
    top: 5px;
    margin-right: 27px;
    height: 140px;
    width: 299px;
    border-top: 41px solid rgb(37,143,139);
    background-color: white;
    box-shadow: 1px 2px 6px rgba(92, 88, 88, 0.3);
    border-radius: 6px;
}
.box4:hover{
    background-color:  rgba(37,143,139);
    position: relative;
    top: -36px;
    border: none;
    height: 181px;
    font-size: 0;
    box-shadow: none;
}
.iot {
    position: relative;
    left: 18.5%;
    top: 41%;
    padding: auto;
    color: rgb(37,143,139);
    font-weight: bold;
    font-size: 16px;
}
.box1, .box2, .box3, .box4 {
    display: inline-block;
}